<div class="c-logo-part"><!--c-logo-part-start-->
	<div class="container">
    	<ul>
        	<li><a href="#"><%= image_tag 'c-liogo1.png' %></a></li>
            <li><a href="#"><%= image_tag 'c-liogo2.png' %></a></li>
            <li><a href="#"><%= image_tag 'c-liogo3.png' %></a></li>
            <li><a href="#"><%= image_tag 'c-liogo4.png' %></a></li>
            <li><a href="#"><%= image_tag 'c-liogo5.png' %></a></li>
    	</ul>
	</div>
</div><!--c-logo-part-end-->