<p id="notice"><%= notice %></p>

<p>
  <strong>Revision:</strong>
  <%= @revision.name %>
</p>


<%= link_to @revision.name, @revision.document.url %> |
<%= link_to 'Edit', edit_project_revision_path(@revision.project, @revision) %> |
<%= link_to 'Back', project_revisions_path(@revision.project) %>
